.container {
  width: 80vw;
  min-width: 400px;
  background-color: #e93a3a;
  color: rgb(95, 33, 32);
  padding: 0.75rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 2000px;
  }
}
