.image-container1 {
  width: 80vw;
  min-width: 400px;
  min-height: 400px;
  background-color: #1b1226;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container1 h3 {
  font-size: 3rem;
  color: #938a9f;
}

.image-container2 {
    width: 80vw;
    border-radius: 1rem;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

.image-container2 img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
