.search-container {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 85vw;
  min-width: 350px;
  padding: 12px 20px;
  margin-bottom: 2rem;
  border: 2px solid #24182f;
  background-color: #1c1326;
  color: #8e8e8e;
}

input:focus {
  outline: none;
  border: 2px solid #f5f5f5;
}
