footer {
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  width: 90vw;
  color: #938a9f;
  height: 150px;
  text-align: center;
}

footer small {
  display: block;
  font-weight: 600;
}

.website {
  font-weight: 400;
  font-size: 0.6rem;
}

.website a:link,
.website a:visited,
.website a:active {
  text-decoration: none;
  color: #938a9f;
}
