.container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-Width: 1200px) {
    .container {
      flex-direction: row;
    }
  }
